<!DOCTYPE html>
<html>
    <head>
	    <title>Register</title>
	    <link rel="stylesheet" type="text/css" href="views/css/loginStyle.css">
    </head>
    <body>

        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        <div class="logo"></div>
        <div class="login-block">
            <h1>Register</h1>
            <form ng-submit="registerForm()">
                <input type="text" value="" placeholder="First Name" id="fname" ng-model="newuser.fname" required=""/>
                <input type="text" value="" placeholder="Last Name" id="lname" ng-model="newuser.lname" required=""/>
                <input type="text" value="" placeholder="Email" id="email" ng-model="newuser.email" required=""/>
                <input type="text" value="" placeholder="Username" id="username" ng-model="newuser.username" required=""/>
                <input type="password" value="" placeholder="Password" id="password" ng-model="newuser.password" required=""/>
                <span class="text-danger" style="color:red">{{ error }}</span>
                <button type="submit" >Register</button>
                <p class="message">Already have an account? <a href="#!/login">Log in</a></p>
                <a href="#!/"> <button> Cancel </button> </a>
         </form>
        </div>
    </body>
</html>