:root {
    --main-color-gray: #373737;
    --main-color-white: #f1f1f1;
    --main-color-red: #C90E0E;
}



.grid-container {
    width: 100vw;
    height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.5fr 5fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header Header"
    "Container Container Container Container";
  text-align: center;
}
 
.Header {     
    grid-area: Header; 
    display: inline-grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "Logo Search Menu";
    align-items: center;
    justify-content: center;
    
    background: var(--main-color-gray);
    color: var(--main-color-white);
}
.Logo {
    grid-area: Logo;
    margin-top: 10px;
}

.logoutButton {
    background-color: #373737;
    border: none;
    color: #C90E0E;
    display: inline-block;
    font-size: 17px;
  }
  .buyButton {
	background-color:#373737;;
	border-radius:28px;
	border:1px solid #373737;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:8px 21px;
}
.buyButton:hover {
	background-color:#6e1217;
}
.buyButton:active {
	position:relative;
	top:1px;
}

.Search {
    
    grid-area: Search;
}
.Search input {
    width: 80%;
    border: 0;
    padding: 20px;
}
.Search button {
    background: var(--main-color-red);
    width: 19%;
    border: 0;
    padding: 20px;
    color: var(--main-color-white);
	transition: 0.5s all;
}
.Search button:hover {
	color: var(--main-color-red);
	background: var(--main-color-white);
}
.Menu {
    grid-area: Menu;
}
.Container { 
    grid-area: Container; 
    background: var(--main-color-white);
    overflow-y: scroll; 
}


.item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "item-Image"
        "item-Name"
        "item-Price"
        "item-Buy";
    text-align: center;
    height: 300px;
    width: 230px;
    background: rgba(191, 187, 187, 0.54);
    float: left;
    margin: 5px;
	transition: 0.5s all;
}
.item:hover {
	-webkit-box-shadow: inset 0px 0px 15px 8px #202020; 
	box-shadow: inset 0px 0px 15px 8px #202020;
}
.item .image{
    grid-area: item-Image;
}
.item .image img {
	width: 100%;
}
.iName {
    grid-area: item-Name;
	font-weight: bold;
	font-size: 18px;
}
.iPrice {
    grid-area: item-Price;
	font-size: 18px;
}
.iBuy {
    grid-area: item-Buy;
}
.Menu div {
    margin: 10px 0;
    text-align: left;
    font-size: 16px;
}
.Menu {
    padding-left: 80px;
}
.Upanel {
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
      color: var(--main-color-white);
    background-color: var(--main-color-gray);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  .modal-content input{
      padding: 5px;
      margin: 5px;
  }
  .modal-content button{
      padding: 10px;
      
  }
  
  /* The Close Button */
  .close {
    color: var(--main-color-red);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: var(--main-color-white);
    text-decoration: none;
    cursor: pointer;
  }
button {
	 padding: 8px;
	 color: var(--main-color-white);
	 border: none;
	background: var(--main-color-red);
	transition: 0.5s all;
}
button:hover {
	background: var(--main-color-gray);
}
.product {
	margin: 15px;
	background: rgba(191, 187, 187, 0.54);
	padding: 10px;
	display: grid;
	grid-template-columns: 0.5fr 1fr 2fr 0.5fr;
    grid-template-rows: 1fr 1fr;
	grid-template-areas:
	"... product-img product-dsc ..."
	"... product-img product-buy ..."
}
.product .product-img {
	grid-area: product-img;
}
.product .product-img img {
	width:100%;
}
.product .product-dsc {
	grid-area: product-dsc;
}
.product .product-buy {
	margin-top: 15px;
	grid-area: product-buy;
}